{% extends "ReviewBundle:Default:base.html.twig" %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <h4 class="section-title bd-green">Recommendations for you</h4>

    <h4 class="section-title bd-green">Sit down and read</h4>

    <h4 class="section-title bd-green">Latest Reviews</h4>

    <h4 class="section-title bd-green">New Releases</h4>


    Hello World!
    My name is Katie
    Your name is {{ name }}
{% endblock %}